.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.image-omelette {
  height: 300px;
  width: 100%;
  border-radius: 20px;
}
body {
  min-height: 100vh;
  background: hsl(30, 54%, 90%);
  font-family: "Young Serif", serif;
  font-weight: 400;
}
.container {
  background: white;
  max-width: 710px;
  padding: 30px 30px;
  border-radius: 20px;
  margin: 100px auto;
}
#Preparation {
  background: hsl(330, 100%, 98%);
  border-radius: 10px;
  display: grid;
}
#preparation p {
  font-size: 16px;
}
ul li {
  margin-bottom: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}
p {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}
li span {
  font-weight: 700;
}
ol li {
  margin-bottom: 10px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 0;
  border-bottom: 1px solid gray;
  font-family: "Outfit", sans-serif;
}
.gray {
  font-family: "Outfit", sans-serif;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
