body {
  background: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  font-family: "Figtree", sans-serif;
}

#allDiv {
  background: hsl(0, 0%, 100%);
  height: 522px;
  width: 384px;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 8px 8px 0px black;
  border: 1px solid black;
}

#img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

#imageContainer {
  width: 336px;
  height: 201px;
  border-radius: 10px;
  overflow: hidden;
}

#heading1 {
  padding: 4px 12px;
  background: hsl(47, 88%, 63%);
  display: inline-block;
  margin: 24px 0 0;
  border-radius: 4px;
  color: hsl(0, 0%, 7%);
  font-size: 14px;
  line-height: 150%;
  font-weight: 800;
}
#firstPtag {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
#seondh2 {
  color: hsl(0, 0%, 7%);
  white-space: nowrap;
}

#secondPtag {
  color: hsl(0, 0%, 42%);

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

#secondimg {
  width: 32px;
  height: 32px;
}

#thirdH3 {
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  color: hsl(0, 0%, 7%);
  margin: 0;
}

#author {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 500px) {
  #allDiv {
    width: 327px;
    height: auto;
    padding: 24px;
  }

  #imageContainer {
    width: 279px;
    height: 200px;
  }
  #seondh2 {
    width: 233px;
    height: 30px;
    font-size: 20px;
    font-weight: 800;
    line-height: 150%;
  }
  #secondPtag {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }
  #firstPtag {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
  }
  #heading1 {
    border-radius: 4px;

    font-weight: 800;
    font-size: 12px;
    line-height: 150%;
  }
}
